{% extends "base.html" %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg" style="width: 50%; max-width: 500px;">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Cadastrar Novo Aluno</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-success">Cadastrar Aluno</button>
                    <a href="{% url 'lista_alunos' %}" class="btn btn-outline-secondary">Voltar à Lista de Alunos</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mb-5"></div>
{% endblock %}
